h1{
    text-align: center;
}
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px;
    display: inline-block;
    border: 2px solid greenyellow;
}
button {
    font-size: 200%;
    background-color: yellow;
    color: black;
    padding: 15px;
    margin: 8px 0px;
    border: 1px;
    width: 100%;
}